# external requirements
dvc
pre-commit
great_expectations
ipywidgets
hyperopt
mlflow
python-dotenv
fastapi
pandas
prefect
tqdm
requests
joblib
pyarrow
psycopg
psycopg-binary
evidently
numpy
scikit-learn
jupyter
matplotlib
xgboost
ydata-profiling
flake8
ruff
black
isort
nbqa
pyupgrade
mypy
pre-commit-hooks
